/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/312318");
@font-face {
  font-family: 'AauxNext-Regular';
  src: url("fonts/312318_0_0.eot");
  src: url("../fonts/312318_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/312318_0_0.woff2") format("woff2"), url("../fonts/312318_0_0.woff") format("woff"), url("../fonts/312318_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AauxNext-Medium';
  src: url("../fonts/312318_1_0.eot");
  src: url("../fonts/312318_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/312318_1_0.woff2") format("woff2"), url("../fonts/312318_1_0.woff") format("woff"), url("../fonts/312318_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'AauxNext-Light';
  src: url("../fonts/312318_2_0.eot");
  src: url("../fonts/312318_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/312318_2_0.woff2") format("woff2"), url("../fonts/312318_2_0.woff") format("woff"), url("../fonts/312318_2_0.ttf") format("truetype");
}
@font-face {
  font-family: 'EndzoneSans-Bold';
  src: url("../fonts/EndzoneSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'EndzoneSans-Medium';
  src: url("../fonts/EndzoneSans-Medium.otf") format("opentype");
}
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/styles.scss */
body {
  background-color: #101010;
  color: #ffffff;
  letter-spacing: .03em;
}

/* line 16, ../sass/styles.scss */
.container-fluid {
  width: 100%;
  max-width: 1362px;
}

/* line 18, ../sass/styles.scss */
.AauxNext-Regular {
  font-family: AauxNext-Regular;
  font-weight: normal;
  font-style: normal;
}

/* line 23, ../sass/styles.scss */
.AauxNext-Medium {
  font-family: AauxNext-Medium;
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../sass/styles.scss */
.AauxNext-Light {
  font-family: AauxNext-Light;
  font-weight: normal;
  font-style: normal;
}

/* line 34, ../sass/styles.scss */
.titleU {
  width: 120px;
  height: 3px;
  margin: 16px auto;
}

/* line 40, ../sass/styles.scss */
.titleUdark {
  background-color: #000000;
}

/* line 44, ../sass/styles.scss */
.titleUlight {
  background-color: #ffffff;
}

/* line 49, ../sass/styles.scss */
.experience h3,
.experience .experience-subtext {
  text-transform: uppercase;
}

/* line 51, ../sass/styles.scss */
.experience img {
  width: 100%;
}

/* line 54, ../sass/styles.scss */
.packages, .aboutus {
  background-color: #f2f2f2;
  color: #000000;
}

/* line 55, ../sass/styles.scss */
.packages h1 {
  text-transform: uppercase;
}

/* line 56, ../sass/styles.scss */
.packages h2 {
  text-transform: uppercase;
}

/* line 57, ../sass/styles.scss */
.packages p {
  clear: both;
}

/* line 60, ../sass/styles.scss */
.navbar-toggle {
  border: none;
}
/* line 63, ../sass/styles.scss */
.navbar-toggle:hover {
  background-color: transparent;
}
/* line 67, ../sass/styles.scss */
.navbar-toggle .icon-bar {
  margin: 6px 0;
  width: 25px;
}

/* line 77, ../sass/styles.scss */
.btn-red {
  font-family: 'EndzoneSans-Medium';
  background-color: #c91529;
  border-radius: 0;
  font-size: 16px;
  letter-spacing: .24em;
  padding: 13px 44px;
  text-transform: uppercase;
}
/* line 86, ../sass/styles.scss */
.btn-red a {
  color: #ebebeb;
}
/* line 88, ../sass/styles.scss */
.btn-red a:active, .btn-red a:hover, .btn-red a:focus {
  border: none;
  color: #ebebeb;
}

/* line 98, ../sass/styles.scss */
.btn.focus, .btn:focus, .btn:hover {
  color: #ebebeb;
}

/* line 103, ../sass/styles.scss */
.logo--panel {
  max-width: 380px;
}

/* line 109, ../sass/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #ebebeb;
}
/* line 112, ../sass/styles.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: inherit;
}

/* line 117, ../sass/styles.scss */
.navbar {
  background: #101011;
  border: none;
  margin: 24px 0;
}
/* line 122, ../sass/styles.scss */
.navbar li a {
  color: #ebebeb;
  font-family: 'EndzoneSans-Medium';
  padding: 15px 30px;
  letter-spacing: .24em;
}
/* line 132, ../sass/styles.scss */
.navbar li a:focus {
  color: #ebebeb;
  outline: none;
  border: none;
}
/* line 139, ../sass/styles.scss */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 142, ../sass/styles.scss */
.navbar-brand img {
  max-height: 100%;
  width: auto;
}

/* line 152, ../sass/styles.scss */
.hero {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 770px;
  background-size: cover;
}
/* line 159, ../sass/styles.scss */
.hero a {
  background-color: #c8152b;
  color: #ebebeb;
  display: inline-block;
}
/* line 165, ../sass/styles.scss */
.hero--logo {
  margin-bottom: 24px;
  max-width: 200px;
}
/* line 171, ../sass/styles.scss */
.hero--content--wrapper {
  margin: 100px 0 50px;
}
/* line 176, ../sass/styles.scss */
.hero--header {
  letter-spacing: .16em;
}
/* line 179, ../sass/styles.scss */
.hero--header--main {
  font-family: 'EndzoneSans-Bold';
  font-size: 30px;
  line-height: 40px;
}
/* line 186, ../sass/styles.scss */
.hero--header--sub {
  font-size: 20px;
  font-family: 'EndzoneSans-Medium';
  line-height: 32px;
  margin-top: 24px;
}
/* line 194, ../sass/styles.scss */
.hero .btn-cta {
  margin: 40px 0;
}

/* line 203, ../sass/styles.scss */
.experience {
  color: #ebebeb;
  background: url("..img/panel3_texture.jpg");
}
/* line 207, ../sass/styles.scss */
.experience--content--wrapper {
  margin: 50px auto 100px auto;
  max-width: 70%;
}
/* line 217, ../sass/styles.scss */
.experience--paragraph {
  font-size: 18px;
  line-height: 32px;
  margin: 40px 0;
}
/* line 223, ../sass/styles.scss */
.experience-subtext {
  font-family: 'EndzoneSans-Medium';
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: .05em;
  line-height: 40px;
  margin-bottom: 80px;
}
/* line 234, ../sass/styles.scss */
.experience--item--wrapper h2 {
  font-family: 'EndzoneSans-Medium';
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .24em;
  margin-top: 22px;
  margin-bottom: 18px;
}
/* line 243, ../sass/styles.scss */
.experience--item--wrapper p {
  font-size: 18px;
  line-height: 32px;
}

/* line 252, ../sass/styles.scss */
.packages {
  padding: 60px 0;
  background: url("../img/panel2_texture.jpg");
}
/* line 256, ../sass/styles.scss */
.packages--header {
  font-family: 'EndzoneSans-Medium';
  font-size: 21px;
  letter-spacing: .14em;
  line-height: 38px;
  text-transform: uppercase;
}
/* line 264, ../sass/styles.scss */
.packages--subhead {
  font-family: 'EndzoneSans-Medium';
  font-size: 18px;
  letter-spacing: .05em;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 272, ../sass/styles.scss */
.packages--specialists {
  margin: 40px auto;
  max-width: 75%;
}
/* line 277, ../sass/styles.scss */
.packages--img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 80%;
}
/* line 283, ../sass/styles.scss */
.packages--img--caption {
  color: #c91529;
  font-family: 'EndzoneSans-Medium';
  font-size: 16px;
  text-transform: uppercase;
}
/* line 291, ../sass/styles.scss */
.packages--list {
  padding-left: 16px;
  font-size: 18px;
  margin-top: 14px;
}
/* line 297, ../sass/styles.scss */
.packages--list li {
  font-family: 'AauxNext-Medium';
  margin: 10px 0;
}
/* line 311, ../sass/styles.scss */
.packages--form--subtext {
  color: #101011;
  margin-top: 20px;
  font-size: 15px;
}

/* line 321, ../sass/styles.scss */
.draft {
  margin: 80px 0;
}
/* line 324, ../sass/styles.scss */
.draft h1 {
  text-transform: uppercase;
}
/* line 328, ../sass/styles.scss */
.draft--header {
  font-family: 'EndzoneSans-Medium';
  font-size: 21px;
  letter-spacing: .14em;
  line-height: 38px;
  text-transform: uppercase;
}
/* line 336, ../sass/styles.scss */
.draft--vidframe {
  margin: 60px 0;
}
/* line 342, ../sass/styles.scss */
.draft--quotes--row {
  margin: auto;
  max-width: 70%;
  text-transform: uppercase;
}
/* line 348, ../sass/styles.scss */
.draft--quotes--text--wrapper {
  margin: auto;
  max-width: 90%;
  position: relative;
}
/* line 354, ../sass/styles.scss */
.draft--quotes--attribution {
  font-family: 'EndzoneSans-Medium';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .14em;
}
/* line 361, ../sass/styles.scss */
.draft--quotes--quotetext {
  font-size: 14px;
  font-family: 'AauxNext-Medium';
  letter-spacing: .08em;
  line-height: 28px;
}
/* line 368, ../sass/styles.scss */
.draft--quotes--quoteimage {
  left: -55px;
  position: absolute;
  top: 20px;
  z-index: -1;
}

/* line 379, ../sass/styles.scss */
.aboutus {
  padding: 60px 0 0;
}
/* line 382, ../sass/styles.scss */
.aboutus h1 {
  font-family: 'EndzoneSans-Medium';
  font-size: 30px;
  letter-spacing: .14em;
  line-height: 38px;
  text-transform: uppercase;
}
/* line 390, ../sass/styles.scss */
.aboutus p {
  color: #171717;
  font-family: AauxNext-Medium;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
/* line 402, ../sass/styles.scss */
.aboutus .copyright {
  margin: 100px 0 30px 0;
}
/* line 405, ../sass/styles.scss */
.aboutus .copyright p, .aboutus .copyright a {
  font-size: 11px;
  color: #8e8e8e;
}
/* line 410, ../sass/styles.scss */
.aboutus .copyright a {
  text-decoration: underline;
}
/* line 415, ../sass/styles.scss */
.aboutus--logo {
  margin-bottom: 20px;
}
/* line 419, ../sass/styles.scss */
.aboutus--paragraphs--wrapper {
  margin-top: 40px;
}
